@font-face {
	font-family: 'ianmcd-font';
	src:url('fonts/ianmcd-font.eot?4v2s2u');
	src:url('fonts/ianmcd-font.eot?#iefix4v2s2u') format('embedded-opentype'),
		url('fonts/ianmcd-font.ttf?4v2s2u') format('truetype'),
		url('fonts/ianmcd-font.woff?4v2s2u') format('woff'),
		url('fonts/ianmcd-font.svg?4v2s2u#ianmcd-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="im-"], [class*=" im-"] {
	font-family: 'ianmcd-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.im-logo:before {
	content: "\e600";
}
