//	GLOBAL SETTINGS & VARIABLES

//	added resets
*,
*:after,
*:before {
  @include box-sizing(border-box);        // more-info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  -webkit-font-smoothing: antialiased; 		// more info: http://maxvoltar.com/archive/-webkit-font-smoothing
}


//  colors
$black: #000;
$white: #fff;

$darkest: #212121;
$dark: #28282e;
$mid: #44444e;
$light: #ccc;

$teal: #1693a5;
$red: #c32942;

$color: $teal;

$g-three: #333;


//  fonts
$futura: "futura-pt", sans-serif;
$kepler: "kepler-std-display", serif;
$inconsolata: "Inconsolata", monospace;
