//	BASE-LEVEL TAGS
body { background: $darkest; }

a {
  color: $color;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $opp-color;
  }
}

p {
  color: $dark;
  font: 20px/30px $kepler;
}

figure {
  background: $light;
  overflow: hidden;
}
