body {
  background: $primary-body;
  height: 100%;
}

html { height: 100%; }

.content__wrapper {
  background: $primary-body;
  height: auto;
  left: 57px;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: transform .3s;
  z-index: 100;

  &.js-push { transform: translateX(193px); }

  &.js-content-pin {
    left: 250px;
    transform: translateX(0);
    transition: none;
  }
}

.content__wrapper--white { background: $white; }

.content__wrapper--fixed { height: 100%; }
