html {
  height: 100%;
}

body {
  border: 12px solid $gr-darkest;
  min-height: 100%;
  padding: 50px;

  &.body__home {
    font-size: 0;
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.no-margin { margin: 0; }

a {
  color: $brandy;
  text-decoration: none;
  transition: color .3s;

  &:hover { color: $tulip; }
}

time {
  color: $gr-mid;
  font: 400 12px/20px $font-gibson;
  text-transform: uppercase;
}

article time {
  font: 500 14px/21px $font-brandon;
}

header {
  margin-top: 50px;
  text-align: center;
}

.hr {
  margin: 50px 0 100px;
  text-align: center;

  span {
    border: 1px solid $brandy;
    display: inline-block;
    height: 8px;
    position: relative;
    transform: rotate(45deg);
    width: 8px;

    &:before,
    &:after {
      border: 1px solid $brandy;
      content: '';
      display: block;
      height: 8px;
      position: relative;
      width: 8px;
    }

    &:after {
      left: 6px;
      top: -16px;
    }

    &:before {
      left: -8px;
      top: 6px;
    }
  }
}
