.text-brandy { color: $brandy; }
.text-tulip { color: $tulip; }

h1,
.heading-1 {
  color: $gr-darkest;
  font: 700 54px/1.25em $font-brandon;
  text-transform: uppercase;

  span {
    color: $gr-dark;
    display: block;
    font: 500 14px/1.5em $font-archer;
    letter-spacing: 1px;
    margin-bottom: 6px;
    margin-top: -2px;
  }
}

h2,
.heading-2 {
  color: $gr-darkest;
  font: 700 20px/30px $font-brandon;
  margin: 7px 0 0;
  text-transform: uppercase;

  a {
    color: $gr-darkest;

    &:hover { color: $gr-mid; }
  }
}

h3,
.heading-3 {
  color: $gr-darkest;
  font: 700 13px/19px $font-brandon;
  margin: 0 0 15px;
  text-transform: uppercase;
}

h4,
.heading-4 {
  color: $gr-mid;
  font: 500 12px/1.5em $font-brandon;
  text-transform: uppercase;
}

time.heading-4 { font-size: 14px; }

ul,
p {
  color: $gr-darkest;
  font: 300 16px/24px $font-gibson;

  strong { font-weight: 400; }
}

aside {
  color: $gr-mid;
  display: block;
  font: 300 14px/21px $font-gibson;
  font-style: italic;
  margin: 0;

  + p { margin-top: 0; }
}
