.grid__wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.grid__wrapper--home { //vertical center here
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
