@font-face {
  font-family: "apb";
  src: url("apb/apb-italic.eot");
  src: url("apb/apb-italic.eot?#iefix") format("embedded-opentype"),
    url("apb/apb-italic.woff") format("woff"),
    url("apb/apb-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "apb";
  src: url("apb/apb.eot");
  src: url("apb/apb.eot?#iefix") format("embedded-opentype"),
    url("apb/apb.woff") format("woff"),
    url("apb/apb.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
