.list__no-format {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__chrono {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 13px;

  li:first-child {
    color: $tulip;
    font-family: $font-archer;
    font-style: italic;
    letter-spacing: -.5px;
  }
}
