.logo-mark {
  background: url('/assets/img/logo.png') no-repeat;
  display: inline-block;
  height: 70px;
  margin-bottom: 30px;
  width: 57px;

  img { display: none; }
}

// 2x screen
@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi) {
  .logo-mark {
    background-image: url('/assets/img/logo@2x.png');
    background-size: 57px 70px;
  }
}

// print
@media print {
  .logo-mark {
    background: transparent none;

    img { display: inline-block; }
  }
}
