.header-nav {
  font: 500 12px/1em $font-brandon; // resetting from vertical align stuff.
  left: 50%;
  max-width: 1520px;
  padding: 0 60px;
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
  width: 100%;

  a {
    color: $gr-dark;
    display: inline-block;
    padding-left: 18px;
    position: relative;

    &:hover {
      color: $tulip;

      span {
        background: $tulip;

        &:before,
        &:after {
          background: $tulip;
        }
      }
    }
  }

  span {
    background: $gr-dark;
    display: block;
    height: 2px;
    left: 0;
    margin: 4px 0;
    position: absolute;
    top: 1px;
    transition: background .3s;
    width: 2px;

    &:nth-of-type(2) { left: 4px; }

    &:nth-of-type(3) { left: 8px; }

    &:before,
    &:after {
      background: $gr-dark;
      content: '';
      height: 2px;
      position: absolute;
      top: -4px;
      transition: background .3s;
      width: 2px;
    }

    &:after {
      top: 4px;
    }
  }
}

.inline-nav {
  margin-top: 40px;

  ul {
    display: inline-block;
    font: 500 12px/1.5em $font-brandon;
    text-transform: uppercase;
  }

  li {
    display: inline-block;
    margin: 0 6px;
    padding: 0 5px;
    position: relative;

    &:after {
      background: $gr-darkest;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      right: -10px;
      top: 8px;
      transform: rotate(45deg);
      width: 5px;
    }

    &:last-child:after { content: none; }
  }

  a {
    display: block;
    padding: 2px;
  }
}
