.js-menu-open {
  &.nav-toggle-wrapper {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: none;
  }

  .nav-toggle-wrapper__menu {
    right: 25px;

    span {
      width: 0;

      &:after {
        top: 0;
        transform: rotate(-45deg);
      }

      &:before {
        bottom: 0;
        transform: rotate(45deg);
      }
    }
  }

  .logo {
    color: $light;
    margin-left: 25px;
  }

  .layer-push-wrapper {
    transform: translate3d(0, 0, -290px);

    &:after {
      height: 100%;
      opacity: 1;
      transition: opacity .5s;
      width: 100%;
    }
  }

  .nav-sidebar {
    transform: translate3d(0, 0, 0);
    transition: transform .5s;

    :after {
      height: 0;
      opacity: 0;
      transition: opacity .5s, width .1s .5s, height .1s .5s;
      width: 0;
    }
  }
}
