.grid__journal-wrapper {
  margin: 0 auto;
  max-width: 700px;

  article {
    margin-bottom: 40px;
    text-align: center;

    &:last-child { margin-bottom: 80px; }
  }

  p {
    font-size: 18px;
    line-height: 27px;
  }
}
