.grid__resume-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;

  section {
    margin-top: 35px;

    &:first-of-type { margin-top: 0; }
  }
}

.grid__resume--intro {
  margin-right: 5%;
  order: 1;
  width: 30%;
}

.grid__resume--education {
  margin-right: 5%;
  order: 2;
  width: 20%;
}

.grid__resume--experience {
  order: 3;
  width: 40%;
}
