@font-face {
    font-family: 'imcd';
    src:    url('fonts/imcd.eot?18yl79');
    src:    url('fonts/imcd.eot?18yl79#iefix') format('embedded-opentype'),
        url('fonts/imcd.ttf?18yl79') format('truetype'),
        url('fonts/imcd.woff?18yl79') format('woff'),
        url('fonts/imcd.svg?18yl79#imcd') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="imcd-"], [class*=" imcd-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'imcd' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.imcd-right-arrow:before {
    content: "\e900";
}

