.blog__content {
  background: $white;
  max-width: 750px;
  padding: 30px 100px 70px;
}

.blog__sidebar {
  max-width: 425px;
  padding: 30px 50px 70px;
}

.blog__sidebar__vert-border {
  @include pie-clearfix;
  padding-left: 50px;
  position: relative;
  z-index: 100;

  &:before {
    background: $muted-border;
    bottom: 0;
    content: '';
    left: 16px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 100;
  }
}
