.home__hero {
  background: $off-white;
  height: 100%;
  overflow: hidden;
  padding: 8%;
  position: relative;

  img {
    bottom: 0;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 100;
  }

  .home__hero__content {
    bottom: 16%;
    left: 16%;
    position: absolute;
    right: 16%;
    z-index: 200;
  }
}

.home__scroller {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 4.3% 6.4%;
}
