.grid {
  @include pie-clearfix;
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 25px;
  width: 100%;

  [class^="grid__"] {
    float: left;
    margin-right: 5%;
  }

  .grid__omega { margin-right: 0; }
}

.grid__one-third { width: 30%; }
