// css for the 'layers' that allow the perspective adjustments when the nav opens up
html,
body,
.layer-site-wrapper,
.layer-push-wrapper,
.layer-page-wrapper {
  height: 100%;
}

.layer-page-wrapper {
  background: $white;
  overflow: auto;
}

.layer-page-wrapper,
.layer-page-inner {
  position: relative;
}

.layer-site-wrapper {
  overflow: hidden;
  perspective: 1500px;
  position: relative;
}

.layer-push-wrapper {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  z-index: 99;

  &:after {
    background: rgba($black, .2);
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s, width .1s .5s, height .1s .5s;
    width: 0;
  }
}
