.list-no-format {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-small-border {
  padding-top: 15px;
  position: relative;

  &:before {
    background: $light;
    content: '';
    height: 1px;
    position: absolute;
    top: 0;
    width: 30px;
  }
}

.list-meta {
  li {
    color: $mid-light;
    display: inline-block;
    font: 13px $futura;
    padding: 0 13px;
    position: relative;

    &:first-child {
      padding-left: 0;

      &:before {
        background: $mid;
        border-radius: 50%;
        content: '';
        height: 5px;
        position: absolute;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
      }
    }

    &:last-child { padding-right: 0; }
  }

  a {
    font-weight: 600;
    text-transform: uppercase;
  }
}
