.list__social-icons {
  display: inline-block;
  margin-bottom: 30px;

  li {
    display: inline-block;
    height: 34px;
    margin: 0 2px;
    overflow: hidden;
    width: 34px;

    i {
      position: relative;
      z-index: 20;
    }

    a {
      color: rgba($white, .6);
      display: block;
      font-size: 34px;
      height: 34px;
      position: relative;
      transition: color .3s;
      width: 34px;

      &:after {
        content: '';
        display: block;
        height: 32px;
        left: 1px;
        position: absolute;
        top: 1px;
        transition: background .3s;
        width: 32px;
        z-index: 10;
      }

      &:hover:after {
        background: $white;
      }
    }

    &.instagram a:hover { color: $brand-instagram; }
    &.github a:hover { color: $brand-github; }
    &.untappd a:hover { color: $brand-untappd; }
  }
}


.article__list-meta {
  margin-bottom: 9px;
  position: relative;

  a {
    color: $highlight-category;

    &:hover { color: $muted-text-light; }
  }

  li {
    color: $primary-text;
    display: inline-block;
    font: 700 13px/14px $futura;
    height: 14px;
    position: relative;
    text-transform: uppercase;

    &:last-child {
      margin-left: 4px;
      padding-left: 12px;

      &:before {
        background: $primary-text;
        border-radius: 2px;
        content: '';
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
      }
    }
  }

  .article__list-meta__icon {
    border: 2px solid $muted-text-light;
    border-radius: 17px;
    color: $muted-text-light;
    font-size: 16px;
    height: 34px;
    left: -50px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 34px;
  }

  .article__list-meta__icon--pin { line-height: 35px; }
}

.article__list-stub {
  margin-top: 20px;

  li {
    display: inline-block;
    font: 500 13px $futura;
    height: 17px;
    margin-right: 4px;
    padding-right: 12px;
    position: relative;
    text-transform: uppercase;

    &:after {
      background: $primary-text;
      border-radius: 2px;
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }

    a { color: $muted-text;

      &:hover {
        color: $muted-text-light;
      }
    }

    &:last-child {
      font-weight: 700;

      &:after { content: none; }

      a {
        color: $highlight;

        &:hover {
          color: $muted-text-light;
        }
      }
    }
  }
}
