.list-no-format {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-small-border {
  padding-top: 15px;
  position: relative;

  &:before {
    background: $light;
    content: '';
    height: 1px;
    position: absolute;
    top: 0;
    width: 30px;
  }
}
