.nav__control {
  border-bottom: 3px solid $muted-text;
  cursor: pointer;
  display: block;
  height: 15px;
  opacity: 1;
  position: absolute;
  transition: opacity .3s;
  width: 17px;

  &:before {
    background: $muted-text;
    content: '';
    height: 3px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    background: $muted-text;
    content: '';
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translate-y(-50%);
    width: 100%;
  }
}

.nav__wrapper {
  background: $primary-text;
  cursor: pointer;
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  transition: width .3s;
  width: 57px;
  z-index: 1;

  &.js-max {
    cursor: auto;
    width: 250px;

    .nav__control { opacity: 0; }

    .nav__container {
      opacity: 1;
    }
  }
}

.nav__container {
  height: 100%;
  opacity: 0;
  position: relative;
  text-align: center;
  transition: opacity .3s;
  width: 210px;
}

.nav__button {
  background: transparent;
  border: 1px solid $muted-border;
  border-radius: 12px;
  color: $muted-text;
  cursor: pointer;
  display: inline-block;
  font: 300 11px $futura;
  height: 24px;
  letter-spacing: 2px;
  line-height: 23px;
  overflow: hidden;
  padding: 0 11px 0 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s;
  z-index: 10;

  &.right {
    @include pie-clearfix;
    float: right;
  }

  &.bottom {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  &:after {
    background: $primary-body;
    content: '';
    height: 120%;
    left: -140%;
    position: absolute;
    top: -10%;
    transform: skewX(15deg);
    transition: all .3s;
    width: 120%;
  }

  &:hover {
    color: $white;

    &:after {
      background: $muted-border;
      left: -10%;
      z-index: -1;
    }
  }
}

.nav__list {
  clear: both;
  padding: 65px 0;
  text-align: left;

  > li {
    margin-bottom: 30px;
    padding-left: 30px;

    > a {
      display: inline-block;
      font-weight: 700;
      position: relative;
      text-transform: uppercase;

      &:before {
        color: $muted-text;
        font-family: 'ianmcd';
        font-size: 16px;
        font-weight: normal;
        left: -30px;
        position: absolute;
        transition: color .3s;
      }
    }
  }

  a {
    color: $muted-text;
    font: 300 15px/25px $futura;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $white;

      &:before { color: $white; }
    }
  }
}

.nav__list-blog > a:before { content: '\e903'; }
.nav__list-notebook > a:before { content: '\e91f'; }
.nav__list-about > a:before { content: '\e90e'; }


@media (max-height: 520px) {
  .nav__button.bottom {
    left: 0;
    position: relative;
    transform: none;
  }
}
