.nav-sidebar {
  background: $white;
  height: 100%;
  opacity: 1;
  padding: 70px 25px 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: all .5s;
  width: 290px;
  z-index: 100;

  a {
    color: inherit;
    &:hover { color: $color; }
  }

  ul { margin-bottom: 30px; }

  li {
    color: $mid;
    font: 15px/25px $futura;
    text-transform: uppercase;

    &:first-child {
      color: $dark;
      font-weight: 600;
    }
  }
}

.nav-toggle-wrapper {
  height: 70px;
  margin: 0 auto;
  max-width: 1100px;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.nav-toggle-wrapper__logo {
  color: $dark;
  i { font-size: 20px; }

  &:hover { color: $color; }
}

.nav-toggle-wrapper__top {
  height: 70px;
  padding: 25px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
}

.nav-toggle-wrapper__menu {
  background: transparent;
  border: 0;
  font: 600 13px $futura;
  height: 20px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left;
  text-transform: uppercase;
  width: 82px;
  z-index: 1000;

  p {
    border-right: 1px solid $light;
    color: $dark;
    display: inline-block;
    font: inherit;
    margin: 0 10px 0 0;
    padding-right: 10px;
  }

  span {
    background: $dark;
    display: inline-block;
    height: 2px;
    position: relative;
    top: -4px;
    transition: all .3s ease;
    width: 20px;

    &:before,
    &:after {
      background: $dark;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transition: all .3s ease;
      width: 20px;
    }

    &:after { top: 5px; }

    &:before { bottom: 5px; }
  }
}
