.nav__control {
  border-bottom: 3px solid $muted-text;
  cursor: pointer;
  display: block;
  height: 15px;
  opacity: 1;
  position: absolute;
  top: 34px;
  transition: opacity .3s;
  width: 17px;

  &:before {
    background: $muted-text;
    content: '';
    height: 3px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    background: $muted-text;
    content: '';
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translate-y(-50%);
    width: 100%;
  }
}

.nav__wrapper {
  background: $primary-text;
  cursor: pointer;
  float: left;
  height: 100%;
  overflow: hidden;
  padding: 30px 20px 20px;
  position: fixed;
  transition: width .3s;
  width: 57px;
  z-index: 1;

  &.js-max,
  &.js-nav-pin {
    cursor: auto;
    width: 250px;

    .nav__control { opacity: 0; }

    .nav__container {
      opacity: 1;
    }
  }

  &.js-nav-pin {
    transition: none;

    .nav__control { transition: none;  }
    .nav__container { transition: none;  }
  }
}

.nav__container {
  height: 100%;
  opacity: 0;
  position: relative;
  text-align: center;
  transition: opacity .3s;
  width: 210px;
}

.nav__list {
  clear: both;
  padding: 65px 0;
  text-align: left;

  > li {
    margin-bottom: 30px;
    padding-left: 30px;

    > a {
      display: inline-block;
      font-weight: 700;
      position: relative;
      text-transform: uppercase;

      &:before {
        color: $muted-text;
        font-family: 'ianmcd';
        font-size: 16px;
        font-weight: normal;
        left: -30px;
        position: absolute;
        transition: color .3s;
      }
    }
  }

  a {
    color: $muted-text;
    font: 300 15px/25px $futura;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $white;

      &:before { color: $white; }
    }
  }
}

.nav__list-blog > a:before { content: '\e903'; }
.nav__list-notebook > a:before { content: '\e91f'; }
.nav__list-about > a:before { content: '\e90e'; }

.nav__breadcrumbs {
  margin: 0 0 60px;
  text-align: center;
}

@media (max-height: 520px) {
  .nav__button.bottom {
    left: 0;
    position: relative;
    transform: none;
  }
}
