// main nav
html,
body,
.site-wrapper,
.push-wrapper,
.page-wrapper {
  height: 100%;
}

.page-wrapper {
  background: $white;
  overflow: auto;
}

.page-wrapper,
.page-inner {
  position: relative;
}

.site-wrapper {
  overflow: hidden;
  perspective: 1500px;
  position: relative;
}

.push-wrapper {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
  z-index: 99;

  &:after {
    background: rgba($black, .2);
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .5s, width .1s .5s, height .1s .5s;
    width: 0;
  }
}

.sidebar-nav {
  background: $white;
  height: 100%;
  opacity: 1;
  padding: 70px 25px 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: all .5s;
  width: 290px;
  z-index: 100;

  a {
    color: inherit;
    &:hover { color: $color; }
  }

  ul { margin-bottom: 30px; }

  li {
    color: $mid;
    font: 15px/25px $futura;
    text-transform: uppercase;

    &:first-child {
      color: $dark;
      font-weight: 600;
    }
  }
}

.js-menu-open {
  .logo {
    color: $light;
    margin-left: 25px;
  }

  .push-wrapper {
    transform: translate3d(0, 0, -290px);
  }

  .sidebar-nav {
    transform: translate3d(0, 0, 0);
    transition: transform .5s;

    :after {
      height: 0;
      opacity: 0;
      transition: opacity .5s, width .1s .5s, height .1s .5s;
      width: 0;
    }
  }

  .push-wrapper:after {
    height: 100%;
    opacity: 1;
    transition: opacity .5s;
    width: 100%;
  }
}

.sidebar-nav-top {
  height: 70px;
  padding: 25px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 290px;
}

.toggle-wrapper {
  height: 70px;
  margin: 0 auto;
  max-width: 1100px;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 1000;

  &.js-menu-open {
    left: 50%;
    //max-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    transition: none;
  }
}

.nav-menu-toggle {
  background: transparent;
  border: 0;
  font: 600 13px $futura;
  height: 20px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left;
  text-transform: uppercase;
  width: 82px;
  z-index: 1000;

  p {
    border-right: 1px solid $light;
    color: $dark;
    display: inline-block;
    font: inherit;
    margin: 0 10px 0 0;
    padding-right: 10px;
  }

  span {
    background: $dark;
    display: inline-block;
    height: 2px;
    position: relative;
    top: -4px;
    transition: all .3s ease;
    width: 20px;

    &:before,
    &:after {
      background: $dark;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transition: all .3s ease;
      width: 20px;
    }

    &:after { top: 5px; }

    &:before { bottom: 5px; }
  }

  &.js-menu-open {
    right: 25px;

    span {
      width: 0;

      &:after {
        top: 0;
        transform: rotate(-45deg);
      }

      &:before {
        bottom: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.logo {
  color: $dark;
  i { font-size: 20px; }

  &:hover { color: $color; }
}
