.nav__control {
  border-bottom: 3px solid $muted-text;
  cursor: pointer;
  display: block;
  height: 15px;
  opacity: 1;
  position: relative;
  transition: opacity .3s;
  width: 17px;

  &:before {
    background: $muted-text;
    content: '';
    height: 3px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    background: $muted-text;
    content: '';
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translate-y(-50%);
    width: 100%;
  }
}

.nav__wrapper {
  cursor: pointer;
  float: left;
  height: 100%;
  padding: 20px;
  transition: width .3s;
  width: 57px;

  &:hover {
    width: 250px;

    .nav__control { opacity: 0; }
  }
}
