// home page mini-entries
.notebook-home-entry {
  //margin-bottom: 50px;  // use if doing 2 rows 

  figure {
    overflow: hidden;
    padding-bottom: 66.67%;
    position: relative;
    width: 100%;

    img {
      left: 0;
      min-width: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.notebook-home-entry__title { margin: 17px 0 0; }

.notebook-home-entry__source {
  font: 300 13px/17px $futura;
  margin: 0 0 11px;
  text-transform: uppercase;
}

.notebook-home-entry__desc {
  font-size: 18px;
  line-height: 1.3em;
}
