
.text-center { text-align: center; }

.text-white { color: $white; }

.text-muted-light { color: $muted-text-light; }

h1,
.heading-1 {
  font: 700 36px/1em $futura;
  text-transform: uppercase;
}

.sub-heading-1 {
  display: block;
  font: 300 13px $futura;
  letter-spacing: 2px;
}

.small-caps-bold {
  display: block;
  font: 700 11px $futura;
  text-transform: uppercase;
}
