
.text-center { text-align: center; }

.text-white { color: $white; }

.text-muted-light { color: $muted-text-light; }

.text-caps { text-transform: uppercase; }

.text-single-line { line-height: 1em; }

h1,
.heading-1 {
  color: $primary-text;
  font: 700 36px/45px $futura;
  margin: 0 0 12px;
}

h2,
.heading-2 {
  color: $primary-text;
  font: 700 28px/34px $futura;
  margin: 0 0 6px;
}

h4,
.heading-4 {
  color: $muted-text;
  font: 700 15px $futura;
  margin: 0 0 45px;

  i {
    background: $primary-body;
    border: 2px solid $muted-border;
    border-radius: 17px;
    display: block;
    height: 34px;
    left: 0;
    line-height: 34px;
    margin-top: -8px;
    position: absolute;
    text-align: center;
    width: 34px;
    z-index: 200;

    &:before { line-height: 32px; }
  }
}

.sub-heading-1 {
  display: block;
  font: 300 13px $futura;
  letter-spacing: 2px;
}

.small-caps-bold {
  display: block;
  font: 700 11px $futura;
  text-transform: uppercase;
}

p {
  color: $primary-text;
  font: 400 18px/25px $kepler;
  margin-top: 0;
}
